.game-container {
  text-align: center;
  margin-top: 50px;

}

input {
  margin-right: 10px;
  border-width: 20px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border-width: 20px;

}
body{
background-image: url(https://www.teachwithict.com/uploads/5/5/8/2/5582303/guess-the-number_orig.png);
}